<hmtl>
	<head>
		<title>
			Asynxy: {{page_name}}
		</title>
		<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
		<style>
			body {
				font-family: 'Oswald';
				font-size: 24px;
				text-align: center;				
			}
		</style>
	</head>
	<body>
		{{{body}}}
	</body>
</hmtl>