<div id="login_form" style="padding-right: 35%; padding-left: 35%; 	margin-top: 150px; ">
	<form method='POST' action="/masterlog" style="background-color: #2C2E39; border-radius: 20px">
		<br>
		<h2 style="color: white">Login as a Master</h2>
		<input type="text" style="width: 60%; margin-bottom: 10px" name="master" placeholder="Master's name">
		<input type="password" style="width: 60%;" name="master_pass" placeholder="Master's password">
		<br><br>
		<input type="submit" value="Submit">
		<br><br>
	</form>
</div>
