<div style="padding-top: 0.5">
	<h3>Login as a Master</h3>
	<form action="/master_log">
		<input type="text" name="master_name" placeholder="Master's name"></form>
		<input type="submit" value="Submit">
	</form>
</div>