<div id="login_form" style="padding-right: 35%; padding-left: 35%; 	margin-top: 150px; ">
	<form method='POST' action="/masterlog" style="background-color: #2C2E39; border-radius: 20px">
		<br>

		<h2 style="color: white">Login as a Master</h2>
		<input type="text" style="outline: none; border:solid 2px black; border-radius: 10px; padding-left: 10px; height: 27px; width: 57%; margin-bottom: 5px" name="master" placeholder="Master's name" autocomplete=off>
		
		<input type="password" style="outline: none; border:solid 2px black; border-radius: 10px; padding-left: 10px; height: 27px; width: 57%; margin-bottom: 30px" name="master_pass" placeholder="Master's password">
		
		<br>

		<input id="subutton" type="submit" value="Submit" style="outline: none; border: none; border-radius: 10px; padding-left: 15px; padding-right: 15px; padding-bottom: 7px; padding-top: 7px; margin-bottom: 7px">

		<br><br>
	</form>
</div>