<div id="login_form" style="padding-right: 35%; padding-left: 35%; 	margin-top: 150px; ">
	<form method='POST' action="/masterlog" style="background-color: #2C2E39; border-radius: 20px">
		<br>
		<h2 style="color: white">Login as a Master</h2>
		<input type="text" style="border:solid 2px black; border-radius: 10px; padding-left: 10px; height: 25px; width: 57%; margin-bottom: 5px" name="master" placeholder="Master's name">
		<input type="password" style="border:solid 2px black; border-radius: 10px; padding-left: 10px; height: 25px; width: 57%;" name="master_pass" placeholder="Master's password">
		<br><br>
		<input type="submit" value="Submit">
		<br><br>
	</form>
</div>
