<div id="console" style="text-align: center;">
	 <iframe style="border: solid 2px; background-color: #2C2E39; width: 55%; height: 55%; margin-bottom: 30px; margin-top: 20px" src=""></iframe> 
</div>

<div id="command">
	<form method='POST' action="/command_handler">
		<input type="text" style="width: 45%; outline: none; border:solid 2px black; border-radius: 10px; padding-left: 10px; height: 27px;" name="new_command" placeholder="Enter your command" autocomplete=off>
		<input type="submit" value="Submit" style="outline: none; border: none; border-radius: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 5px; padding-top: 5px; background: white">
	</form>
</div>

<div style="text-align: center">
	<div style="color: white;">
		General info
		<br>
		Master's name: {{master}}
		<br>
		Slaves' name
		<br>
		<form method='POST' action="/logout">
			<input type="hidden" name="master" value={{master}}>
			<input type="submit" value="Log out" style="outline: none; border: none; border-radius: 10px; margin-top:10px; padding-left: 15px; padding-right: 15px; padding-bottom: 7px; padding-top: 7px; background: white">
		</form>
	</div>
	<div id="console" style="text-align: center;">
		<iframe style="border: solid 2px; width: 30%; height: 10%; margin-bottom: 30px; margin-top: 0px" src=""></iframe> 
	</div>
</div>
