<div id="console" style="text-align: center;">
	 <iframe style="border: solid 2px; background-color: #2C2E39; width: 55%; height: 55%; margin-bottom: 30px; margin-top: 20px" src=""></iframe> 
</div>

<div id="command">
	<form method='POST' action="/command_handler">
		<input type="text" style="width: 45%" name="new_command" placeholder="Enter your command">
		<input type="submit" value="Submit">
	</form>
</div>

<div style="text-align: center">
	General info
	<br>
	Master's name
	<br>
	Slaves' name
	<br>
	<div id="console" style="text-align: center;">
		<iframe style="border: solid 2px; width: 30%; height: 10%; margin-bottom: 30px; margin-top: 20px" src=""></iframe> 
	</div>
</div>